.mypage-wrapper
  .title-area
    .title-area__image
      -if @current_user.image_name?
        =image_tag "#{@user.image_name}",class:"title-area__image"
      -else
        = image_tag "noimage.png", class:"title-area__image"
    .title-area__nickname
      =@user.nickname
  =link_to "/users/#{@current_user.id}/edit" ,class:"edit-btn" do
    ユーザー情報を編集する
  .review-area
    .review-area__mine
      .review-area__mine--title
        自分の投稿一覧
      .review-area__mine--contents
        -@my_reviews.each do |review|
          =link_to "/reviews/#{review.id}",class:"content-box" do
            .image
              =image_tag "#{review.images[0].image_url}",class:"image"
            %ul.right-box
              %li.subject
                =review.subject
              %li.text
                =review.text
              %li.like
                %i.far.fa-grin-squint
                %span.likes_count= review.likes.count
        =link_to "/users/#{@current_user.id}/myreview" ,class:"index-link" do
          全て表示する
    .review-area__like
      .review-area__like--title
        ”いいね”した投稿一覧
      .review-area__mine--contents
        -@favorite_reviews.each do |review|
          =link_to "/reviews/#{review.id}",class:"content-box" do
            .image
              =image_tag "#{review.images[0].image_url}",class:"image"
            %ul.right-box
              %li.subject
                =review.subject
              %li.text
                =review.text
              %li.like
                %i.far.fa-grin-squint
                %span.likes_count= review.likes.count
        =link_to "/users/#{@current_user.id}/favorite" ,class:"index-link" do
          全て表示する
