.prefecture-index-area
  .review-area
    .review-area__tittle
      ="#{@prefecture.name}の新着投稿一覧"
    .review-area__contents
      -@reviews.each do |review|
      -likes_count = Like.where(review_id: review.id).count
        =link_to "/reviews/#{review.id}", class:"contents-box" do
          -if review.images
            =image_tag "#{review.images[0].image_url}", class: "contents-box__image"
          .contents-box__right
            .contents-box__user
              =review.user.nickname
            .contents-box__subject
              .contents-box__subject--title
                =review.subject
              .contents-box__subject--like
                %i.far.fa-grin-squint
                %span.likes_count= review.likes.count
            .contents-box__text
              =review.text
    =link_to "/reviews/index", class:"prefecture-index-link" do
      都道府県一覧に戻る
      
      
  .ranking-area
    .ranking-area__title
      ="#{@prefecture.name}の記事”いいね”ランキング"
    .ranking-area__contents
      .ranking-number
        =fa_icon "star", class:"icon1"
        第１位
      -if @first_review
        =link_to "/reviews/#{@first_review.id}", class:"contents-box" do
          .contents-box__image
            =image_tag "#{@first_review.images[0].image_url}",class:"contents-box__image"
          .contents-box__right
            .contents-box__user
              ="(投稿者)#{@first_review.user.nickname}"
            .contents-box__subject
              .contents-box__subject--title
                ="(件名)#{@first_review.subject}"
              .contents-box__subject--like
                %i.far.fa-grin-squint
                %span.likes_count= @first_review.likes.count
            .contents-box__text
              =@first_review.text
      .ranking-number
        =fa_icon "star", class:"icon2"
        第２位
      -if @second_review
        =link_to "/reviews/#{@second_review.id}", class:"contents-box" do
          .contents-box__image
            =image_tag "#{@second_review.images[0].image_url}",class:"contents-box__image"
          .contents-box__right
            .contents-box__user
              ="(投稿者)#{@second_review.user.nickname}"
            .contents-box__subject
              .contents-box__subject--title
                ="(件名)#{@second_review.subject}"
              .contents-box__subject--like
                %i.far.fa-grin-squint
                %span.likes_count= @second_review.likes.count
            .contents-box__text
              =@second_review.text
      .ranking-number
        =fa_icon "star", class:"icon3"
        第３位
      -if @third_review
        =link_to "/reviews/#{@third_review.id}", class:"contents-box" do
          .contents-box__image
            =image_tag "#{@third_review.images[0].image_url}",class:"contents-box__image"
          .contents-box__right
            .contents-box__user
              ="(投稿者)#{@third_review.user.nickname}"
            .contents-box__subject
              .contents-box__subject--title
                ="(件名)#{@third_review.subject}"
              .contents-box__subject--like
                %i.far.fa-grin-squint
                %span.likes_count= @third_review.likes.count
            .contents-box__text
              =@third_review.text