.header
  .header__bar
    .header__bar--tittle
      =link_to root_path, class:"header__bar--tittle" do
        ASOBIBA
    .header__bar--menu
      - if session[:user_id]
        = image_tag "/user_images/#{@current_user.image_name}", class:"user-image"
        = link_to"#{@current_user.nickname}", "/users/#{@current_user.id}", class:"link", id: "user-name"
        = link_to "投稿する" , "/reviews/new", class:"link"
        = link_to "USERS" , "/users/index",  class:"link"
        = link_to "LOGOUT" , "/logout", method: :post,  class:"link"
      - else
        = link_to "ABOUT","/about", class:"link"
        = link_to "登録" , "/users/new", class:"link"
        = link_to "LOGIN" , "/login", class:"link"
.flash_message
  - if flash[:notice]
    = flash[:notice]