.header
  .header__bar
    .header__bar--tittle
      =link_to root_path, class:"header__bar--tittle" do
        =image_tag "headerlogo",class:"headerlogo"
    .header__bar--menu
      - if session[:user_id]
        = image_tag "#{@current_user.image_name}", class:"user-image"
        = link_to"#{@current_user.nickname}", "/users/#{@current_user.id}", class:"link", id: "user-name"
        = link_to "投稿する" , "/reviews/new", class:"link"
        = link_to "ログアウト" , "/logout", method: :post,  class:"link"
      - else
        = link_to "ユーザー登録" , "/users/new", class:"link"
        = link_to "ログイン" , "/login", class:"link"
.flash_message
  - if flash[:notice]
    = flash[:notice]