=form_for(@review, url: {controller: 'reviews', action: 'update' }) do |f|
  .product-new-wrapper
    .title_area
      記事の投稿

    .subject_area
      .area-title
        =": 件名"
      = f.text_field :subject, class: "input-area"

    .prefecture_area
      .area-title
        =": 都道府県"
      = f.collection_select :prefecture_id, @prefectures, :id, :name, {},{class: "input-area"}

    .address_area
      .area-title
        =": 遊び場の住所"
      = f.text_field :address, class: "input-area"
    .url_area
      .area-title
        =": 参考URL"
      = f.text_field :movie, class: "input-area"
    .bottom-area
      .text_area
        .area-title
          =": 記事内容"
        =f.text_area :text, class: "input-big"
      .image_area
        .area-title
          =": 画像"
        .image_area__contents
          .image_area__contents--box
            %label.input-small 
              =image_tag "#{@review.images[0].image_url}",class:"image"  
              =f.fields_for :images do |i|
                =i.file_field :image_url, style: "display: none;",class:"post-image"
          
    =f.submit "投稿する",class:"submit-area"


-# .contents.row
-#   = form_tag("/reviews/#{@review.id}/update", method: :post) do
-#     %div>
-#     error_message&gt;
-#     - @review.errors.full_messages.each do |message|
-#       = message
-#   %div
-#     %label &#x90FD;&#x9053;&#x5E9C;&#x770C;:
-#     %input#prefecture{:name => "prefecture", :placeholder => "都道府県", :type => "text"}/
-#     = @review.prefecture
-#     \&gt;
-#   %div
-#     %label &#x4EF6;&#x540D;:
-#     %input#subject{:name => "subject", :placeholder => "件名", :type => "text"}/
-#     = @review.subject
-#     \&gt;
-#   %div
-#     %label &#x672C;&#x6587;:
-#     %textarea#text{:name => "text", :placeholder => "自由に文章を書いてください"}= @review.text
-#   %div
-#     %label &#x753B;&#x50CF;:
-#     %input#image{:name => "image", :placeholder => "画像URL", :type => "text"}/
-#     = @review.image
-#     \&gt;
-#   %div
-#     %label &#x53C2;&#x7167;URL:
-#     %input#movie{:name => "movie", :placeholder => "参照URL", :type => "text"}/
-#     = @review.movie
-#     \&gt;
-#   %div
-#     %input{:type => "submit"}>/
-#     , value="&#x6295;&#x7A3F;"&gt;
