=form_for(@review, url: {controller: 'reviews', action: 'update' }) do |f|
  .product-new-wrapper
    .title_area
      記事の投稿

    .subject_area
      .area-title
        =": 件名"
      = f.text_field :subject, class: "input-area"

    .prefecture_area
      .area-title
        =": 遊び場の住所"
      .small-title
        ="(都道府県)"
      = f.collection_select :prefecture_id, @prefectures, :id, :name, {},{class: "input-area"}

    .address_area
      .small-title
        ="(市区町村以降の住所を記入してください)"
      = f.text_field :address, class: "input-area"
    .url_area
      .area-title
        =": 参考URL"
      = f.text_field :movie, class: "input-area"
    .bottom-area
      .text_area
        .area-title
          =": 記事内容"
        =f.text_area :text, class: "input-big"
      .image_area
        .area-title
          =": 画像"
        .image_area__contents
          .image_area__contents--box
            %label.input-small 
              =image_tag "#{@review.images[0].image_url}",class:"image"  
              =f.fields_for :images do |i|
                =i.file_field :image_url, style: "display: none;",class:"post-image"
          
    =f.submit "投稿する",class:"submit-area"