<div class="contents row">
    <%= form_tag("/reviews/#{@review.id}/update", method: :post) do %>
      <div class = error_message>
        <% @review.errors.full_messages.each do |message| %>
        <%= message %>
        <% end %>
      </div>
      <div>
        <label>ニックネーム:</label>
        <input placeholder="ニックネーム" type="text" id="name" name="nickname" value=<%= @review.nickname %>>
      </div>

      <div>
        <label>都道府県:</label>
        <input placeholder="都道府県" type="text" id="prefecture" name= "prefecture" value=<%= @review.prefecture %>>
      </div>

      <div>
        <label>件名:</label>
        <input placeholder="件名" type="text" id="subject" name="subject" value=<%= @review.subject %>>
      </div>

      <div>
        <label>Message:</label>
        <textarea placeholder="本文" id="text" name = "text" ><%= @review.text %></textarea>
      </div>

      <div>
        <label>画像:</label>
        <input placeholder="画像URL" type="text" id="image" name="image" value=<%= @review.image %>>
      </div>

      <div>
        <label>動画:</label>
        <input placeholder="動画URL" type="text" id="movie" name="movie" value=<%= @review.movie %>>
      </div>

      <div>
        <input type="submit", value="投稿">
      </div>
    <% end %>
  </div>