<div class= "flash_message">
  <% if flash[:notice] %>
  <%= flash[:notice]  %>
  <% end %>
</div>

<div class=post_name >ニックネーム：
<%= @review.nickname %>
</div>

<div class=post_time >投稿時間：
<%= @review.created_at %>
</div>

<div class=post_subject >件名：
<%= @review.subject %>
</div>

<div class=post_text >本文：
<%= @review.text %>
</div>

<div class="post_image" style="background-image: url(<%= @review.image%>);" >
</div>

<div class=post_text >動画URL：
<%# <%= @review.text %> %>
</div>

<div class=edit_btn>
<%= link_to "編集する", "/reviews/#{@review.id}/edit" %>
</div>

<div class=destroy_btn>
<%= link_to "削除する", "/reviews/#{@review.id}/destroy" ,method: "post"%>
</div>