.wrapper
  .top-area
    .top-area__image{:style => "background-image: url(#{@review.image});"}
    .top-area__detail
      .top-area__detail--map
        .address
          =@review.address
        .google-map
          所在地表示　googlemapを使いたい
      %table.top-area__detail--imfomation
        %tr
          %th
            投稿者
          %th
            =link_to "/users/#{@user.id}" do
              =@user.nickname
        %tr
          %th
            件名
          %th
            =@review.subject
        %tr
          %th
            都道府県
          %th
            =link_to "/prefectures/#{@review.prefecture_id}" do
              =@prefecture.name
        %tr
          %th
            参考URL
          %th
            =link_to "#" do
              =@review.movie
  .bottom-area
    .text-area
      .text-area__title
        記事内容
      .text-area__main
        =@review.text
    .comment-area
      .comment-area__title
        コメント欄
      .comment-area__main
        .comment-box
          .comment-box__top
            .comment-username
              おでかけさん
            .daytime
              2019/1/1
          .comment-box__bottom
            とても参考になりました！今度家族で行ってみようと思います！
        .comment-box
          .comment-box__top
            .comment-username
              おでかけさん
            .daytime
              2019/1/1
          .comment-box__bottom
            とても参考になりました！今度家族で行ってみようと思います！とても参考になりました！今度家族で行ってみようと思いますとても参考になりました！今度家族で行ってみようと思いますとても参考になりました！今度家族で行ってみようと思います








-# .post_name
-#   ニックネーム：
-#   = link_to(@user.nickname, "/users/#{@user.id}/show")
-# .post_time
-#   投稿時間：
-#   = @review.created_at
-# .post_subject
-#   件名：
-#   = @review.subject
-# .post_text
-#   本文：
-#   = @review.text
-# - if Like.find_by(user_id: @current_user.id, review_id: @review.id)
-#   = link_to("/likes/#{@review.id}/destroy",{method: "post"}) do
-#     %i.far.fa-grin-squint.like_btn_already
-#     %span.likes_count= @likes_count
-# - else
-#   = link_to( "/likes/#{@review.id}/create",{method: "post"}) do
-#     %i.far.fa-grin-squint.like_btn
-#     %span.likes_count= @likes_count
-# .post_image{:style => "background-image: url(#{@review.image});"}
-# .post_text
-#   （参照URL）：
-#   = link_to("#{@review.movie}","#{@review.movie}")
-# - if @current_user.id == @user.id
-#   .edit_btn
-#     = link_to "-編集する-", "/reviews/#{@review.id}/edit"
-#   .destroy_btn
-#     = link_to "-削除する-", "/reviews/#{@review.id}/destroy" ,method: "post"
